/* Fonts */

/* Universal font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
/* popular game section font */
  @import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');






/* Universal Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.677);
}
.no-scroll{
    overflow: hidden;
}
body::-webkit-scrollbar{
    background: linear-gradient(#92e0ff, #00b7ff);
    border-radius: 10px;
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #008cff;
}
button,
a,
img,
i{
    cursor: pointer;
}
button{
    padding: 10px;
    border-radius: 9px;
}
button:hover{
    transform: scale(1.01) translateX(5px);
}
section{
    padding: 100px 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}






/* Navigation */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 50px;
    width: 100vw;
    position: fixed;
    z-index: 999;
    transition: 500ms;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));

}
.logo h1{
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    letter-spacing: 2px;
    color: white;
    z-index: 11;
}
.navInput{
    padding: 8px 45px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
}
.navInput::placeholder{
    color: white;
}

.search{
    position: relative;
}
.serachIcon{
    position: absolute;
    width: 21px;
    right: 12px;
    bottom: 16px
}
.ul{
    display: flex;
    justify-content: space-between;
    width: 73vw;
    z-index: 999;
}
.li-container{
    display: flex;
    align-items: center;
}
.li{
    padding: 0 15px;
    position: relative;
}
.li a{
    color: white;
}

.li::after{
    content: '';
    position: absolute;
    background-color: white;
    transition: .5s;
    width: 0%;
    height: 2px;
    top: 25px;
    left: 6px;
}
.li:hover:after{
    width: 85%;
} 
.fa-solid{
    font-size: 2rem;
    color: white;
}
.fa-bars-staggered{
    display: none !important;
}
.fa-xmark{
    position: fixed;
    z-index: 11;
    right: 4rem;
    top: 2rem;
}




/* Navigation Media Queary */
@media (width < 977px) {
    .logo h1{
        font-size: 18px;
    }
    .li{
        font-size: 13px;
    }
    .navInput{
        padding: 8px 10px;
    }
}
@media (width < 761px) {
    .navInput{
        padding: 8px 30px;
    }
    .search{
        position: absolute;
        bottom: 5rem;
        text-align: center;
        width: 100vw;
        left: 0;
    }
    .serachIcon{
        right: auto;
    }
    .li-container{
        display: flex;
        flex-direction: column;
        width: 93vw;
    }
    .ul{
        position: fixed;
        top: 7rem;
        background: black;
        width: 100vw;
        height: 100vh;
        top: 0;
        text-align: center;
        right: 100%;
        transition: 1s all;
        opacity: 0.97;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    .li{
        padding: 20px;
    }
    .li:hover:after{
        width: 0;
    }
    .logo{
        display: flex;
        width: 100vw;
        justify-content: space-between;
    }
    .fa-bars-staggered{
        display: block !important;
    }
}





/* Hero-section background image */
.hero-bg{
    position: absolute;
    z-index: -1;
    opacity: .5;
    display: flex;
    overflow: hidden;
    top: 0;
    width: 100vw;
}
.hero-bg img{
    animation: bgSlider 20s infinite linear;
    animation-timing-function: steps(9);
    width: 100vw;
    object-fit: cover;
    height: 130vh;
    transition: 1s;
}

/* Hero-section img slider animation */
@keyframes bgSlider {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-900%);
    }
}




/* Hero section */
.hero-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    height: 80vh;
    letter-spacing: 1px;
    color: white;
}
.hero-txt{
    font-size: 22px;
}
.hero-txt h1{
    font-size: 40px;
}
.hero-txt button{
    background-color: #92e0ff;
    margin: 15px 10px 0 0;
    transition: .5s;
}
.hero-txt button:hover{
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.674);
}
.hero-txt > *{
    margin-top: 10px;
}
.controller{
    width: 26rem;
    transform: rotate(-13deg);
}





/* Media query for hero-section */
@media (width < 1046px) {
    .hero-txt{
        font-size: 17px;
    }
    .hero-txt h1{
        font-size: 30px;
    }
    .hero-section img{
        width: 20rem;
    }
}
@media (width < 740px) {
    .hero-section{
        grid-template-columns: 1fr;
        height: 100%;
        gap: 4rem;
    }
    .hero-section img{
        align-self: start;
    }
}
@media (width < 508px) {
    .hero-txt{
        text-align: center;
    }
    
}
@media (width < 508px) {
    .hero-section img{
        width: 75vw;
        position: relative;
    }
    .hero-txt{
        font-size: 15px;
    }
    .hero-txt h1{
        font-size: 7vw;
    }
    
}









/* Hero-section Slider */
.slide-container{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    gap: 5rem;
    width: 800px;
    overflow: hidden;
    margin-top: 2rem;
    padding: 0 0 50px 0;
    color: white;
}
.slide-container:hover .slide{
    animation-play-state: paused;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide{
    animation: slide 5s infinite linear;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
}
.slide:hover{
    background: rgb(112, 102, 102);
}

.slide img{
    width: 6.5rem;
}



/* Animation for slider */
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1020px);

    }
}
@keyframes slide-small {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-900px);

    }
} 



/* Media query for hero-section slider */
@media (width < 1046px) {
    .slide img{
        width: 5rem;
    }
    .slide{
        animation: slide-small 5s infinite linear;
    }
}


/* Game-Section */
.game-section{
    color: white;
    font-family: 'Castoro Titling', cursive;
    text-align: center;

}
.game-container{
    padding: 100px 0;
    display: grid;
    gap: 3rem;
}


.game-section h1{
    text-align: center;
    padding: 50px 0;
    font-size: 45px;
    font-family: 'Bruno Ace SC', cursive;
}
.game-container .logo-game{
    margin: 0 3rem ;
    width: 8rem;
    background: white;
    border-radius: 10px;
   padding: 10px;
}
.xbox-logo{
    width: 5rem !important;
}
.game-container-inside{
    display: flex;
    gap: 5rem;
    overflow: auto;
    padding: 0 50px;
}
.game-container-inside::-webkit-scrollbar{
    display: none;
}

.game{
    height: 20rem;
    width: 20rem;
}
.game p{
    margin-top: 5px;
}
.game img{
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    object-fit: cover;
    transition: .2s ease-in-out;
}
.game img:hover{
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.264);
    transform: scale(1.01);
}
.see-more-btn{
    text-align: center;
    background: #92e0ff;
    margin-bottom: 30px;
}

/* Media query for game-section */
@media (width < 1046px) {
    .game img{
        width: 10rem;
        height: 10rem;
    }
    .game-container .logo-game{
        background: white;
        border-radius: 10px;
        width: 5rem;
    }
}

/* Console Section */
.console{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: url(./console\ section\ bg.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    place-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
    position: relative;
    z-index: 1;
}
.console::after{
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.console h1{
    font-size: 50px;
}
.console p{
    font-size: 30px;
}
.console-txt button{
    margin-top: 7px;
    transition: .5s all;
}
.console-txt button:hover{
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.774);
}
.console img{
    width: 50rem;
}

/* Media query for console section */

@media (width < 1767px) {
    .console img{
        width: 40rem;
    }
}
@media (width < 1300px) {
    .console img{
        width: 30rem;
    }
    .console h1{
        font-size: 40px;
    }
    .console p{
        font-size: 25px;
    }
}
@media (width < 1000px) {
    .console{
        grid-template-columns: 1fr;
        align-items: start;
        background-size: 64rem;
    }
}
@media (width < 501px) {
    .console img{
        width: 90vw;
    }
    .console h1{
        font-size: 30px;
    }
    .console p{
        font-size: 20px;
    }
}


/* buy-console  */
.buy-console{
    display: grid;
    place-items: center;
    gap: 5rem;
    background: url(./buy-console-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    font-family: 'Castoro Titling', cursive;
}
.buy-console::after{
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.buy-console .buy-console-h1{
    font-size: 40px;
    color: white;
    font-family: 'Bruno Ace SC', cursive;
}
.console-item-container{
    display: flex;
    gap: 5rem;
}
.console-item{
    width: 25rem;
    height: 30rem;
    border-radius: 10px;
    background-color: rgb(41, 39, 39);
    color: white;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.console-item::after{
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.console-item-txt{
    padding: 30px;
    transform: translateY(120px);
    display: grid;
    gap: 5rem;
    transition: 1s;
    height: 110%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9))
}
.nitendo-txt{
    transform: translateY(160px);
}
.console-item:hover .console-item-txt{
    gap: 0;
    transform: translateY(10px);
}
.console-item-txt button{
    background: transparent;
    border: 2px solid white;
    color: white;
    width: 6rem;
    height: 3rem;
    transition: .5s all;
}
.console-item-txt button:hover{
    background: white;
    color: black;
}
.console-item-txt h1{
    font-size: 25px;
}
.playstation-img{
    width: 25rem;

}
.nitendo-img{
    width: 20rem;
}
.oculus-img{
    width: 25rem;
}
.playstation-img-console{
    background: url(./playstation\ gameplay\ buy-console\ section.jpg);
    background-size: cover;
}
.nitendo-img-console{
    background: url(./nitendo\ gameplay\ buy-console\ section.avif);
    background-size: cover;
}
.oculus-img-console{
    background: url(./oculus\ gameplay\ buy-console\ section.jpg);
    background-size: cover;
}

/* Media query for buy-console section */
@media (width < 1456px) {
    .console-item{
        width: 20rem;
        height: 25rem;
    }
    .console-item-txt h1{
        font-size: 20px;
    }
    .playstation-img{
        width: 20rem;
    }
    .nitendo-img{
        width: 17rem;
    }
    .oculus-img{
        width: 20rem;
    }
}
@media (width < 1246px) {
    .console-item-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .buy-console .buy-console-h1{
        font-size: 30px;
    }
}
@media (width < 827px) {
    .console-item-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .buy-console .buy-console-h1{
        font-size: 25px;
        text-align: center;
    }
}
@media (width < 382px) {
    .console-item{
        width: 80vw;
        height: 65vh;
    }
    .console-item-txt h1{
        font-size: 20px;
    }
    .playstation-img{
        width: 85vw;
    }
    .nitendo-img{
        width: 75vw;
    }
    .oculus-img{
        width: 85vw;
    }
    .console-item-txt h1{
        font-size: 20px;
    }
    .console-item-txt{
        transform: translateY(150px);
    }
    .nitendo-txt{
        transform: translateY(160px);
    }
}
