/* Fonts */

/* Universal font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');






/* Universal Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.4);
}
button,
a,
img,
i{
    cursor: pointer;
}
button{
    padding: 10px;
    border-radius: 9px;
}
section{
    padding: 100px 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}






/* Navigation */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));

}
.logo h1{
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    letter-spacing: 2px;
    color: white;
}
.navInput{
    padding: 8px 45px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
}
.navInput::placeholder{
    color: white;
}

.search{
    position: relative;
}
.serachIcon{
    position: absolute;
    width: 21px;
    right: 12px;
    bottom: 16px
}
.ul{
    display: flex;
    justify-content: space-between;
    width: 73vw;
    z-index: 999;
}
.li-container{
    display: flex;
    align-items: center;
}
.li{
    padding: 0 15px;
    position: relative;
}
.li a{
    color: white;
}

.li::after{
    content: '';
    position: absolute;
    background-color: white;
    transition: .5s;
    width: 0%;
    height: 2px;
    top: 25px;
    left: 6px;
}
.li:hover:after{
    width: 85%;
} 
.fa-solid{
    font-size: 2rem;
}
.fa-bars-staggered{
    display: none !important;
}




/* Navigation Media Queary */
@media (width < 977px) {
    .logo h1{
        font-size: 18px;
    }
    .li{
        font-size: 13px;
    }
    .navInput{
        padding: 8px 10px;
    }
}
@media (width < 761px) {
    .navInput{
        padding: 8px 30px;
    }
    .search{
        position: absolute;
        bottom: 5rem;
        text-align: center;
        width: 100vw;
        left: 0;
    }
    .serachIcon{
        right: auto;
    }
    .li-container{
        display: flex;
        flex-direction: column;
        width: 93vw;
    }
    .ul{
        position: absolute;
        top: 7rem;
        background: white;
        width: 100vw;
        text-align: center;
        height: 83vh;
        right: 100%;
        transition: 1s all;
        opacity: 0.97;
    }
    .li{
        padding: 20px;
    }
    .li:hover:after{
        width: 0;
    }
    .logo{
        display: flex;
        width: 100vw;
        justify-content: space-between;
    }
    .fa-bars-staggered{
        display: block !important;
    }
}





/* Hero-section background image */
.hero-bg{
    position: absolute;
    z-index: -1;
    opacity: .5;
    display: flex;
    overflow: hidden;
    top: 0;
    width: 100vw;
}
.hero-bg img{
    animation: bgSlider 20s infinite linear;
    animation-timing-function: steps(9);
    width: 100vw;
    object-fit: cover;
    height: 130vh;
    transition: 1s;
}

/* Hero-section img slider animation */
@keyframes bgSlider {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-900%);
    }
}




/* Hero section */
.hero-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    height: 80vh;
    letter-spacing: 1px;
    color: white;
}
.hero-txt{
    font-size: 22px;
}
.hero-txt h1{
    font-size: 40px;
}
.hero-txt button{
    background-color: #92e0ff;
    margin: 15px 10px 0 0;
    transition: .2s;
}
.hero-txt button:hover{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}
.hero-txt > *{
    margin-top: 10px;
}
.controller{
    width: 26rem;
    transform: rotate(-13deg);
}





/* Media query for hero-section */
@media (width < 1046px) {
    .hero-txt{
        font-size: 17px;
    }
    .hero-txt h1{
        font-size: 30px;
    }
    .hero-section img{
        width: 20rem;
    }
}
@media (width < 740px) {
    .hero-section{
        grid-template-columns: 1fr;
        height: 100%;
        gap: 2rem;
    }
    .hero-section img{
        align-self: start;
    }
}
@media (width < 508px) {
    .hero-txt{
        text-align: center;
    }
    
}
@media (width < 508px) {
    .hero-section img{
        width: 75vw;
        position: relative;
    }
    .hero-txt{
        font-size: 15px;
    }
    .hero-txt h1{
        font-size: 7vw;
    }
    
}









/* Hero-section Slider */
.slide-container{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    gap: 5rem;
    width: 800px;
    overflow: hidden;
    margin-top: 2rem;
    padding: 0 0 50px 0;
    color: white;
}
.slide-container:hover .slide{
    animation-play-state: paused;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide{
    animation: slide 5s infinite linear;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
}
.slide:hover{
    background: rgb(112, 102, 102);
}

.slide img{
    width: 6.5rem;
}



/* Animation for slider */
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1020px);

    }
}
@keyframes slide-small {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-900px);

    }
} 



/* Media query for hero-section slider */
@media (width < 1046px) {
    .slide img{
        width: 5rem;
    }
    .slide{
        animation: slide-small 5s infinite linear;
    }
}
